<main>

  <div id="navigation3" onclick="if(document.getElementById('navigation3').style.minWidth=='75px'){document.getElementById('navigation3').style.minWidth ='190px'}else{document.getElementById('navigation3').style.minWidth ='75px'};">
    <ul>
      <li class="list">
        <a>
          <span class="logoNav"><img src="../../assets/logo.svg"></span>
          <span class="titleApp">Stormy.</span>
        </a>
      </li>
      <li class="list">
        <a   routerLink="/home"> 
          <span class="icon"><ion-icon name="home"></ion-icon></span>
          <span class="title">Home</span>
        </a>
      </li>
      <li class="list active">
        <a routerLink="/calendar">
          <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
          <span class="title">Calendar</span>
        </a>
      </li>
      <li class="list">
        <a routerLink="/todo-list">
          <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
          <span class="title">To-do list</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
          <span class="title">Settings</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
          <span class="title">Account</span>
        </a>
      </li>
    </ul>
  </div>


  <div class="content">
    <div class="main">
      <div id = "change">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <cejeuneDave> du XX au XX </cejeuneDave>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class ="journee">Lundi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Mardi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Mercredi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Jeudi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Vendredi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Samedi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Dimanche

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="vide"></div>
      </div>
    </div>

</main>

